@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.page {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #353a5a;
  background-color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  padding-top: 37px;
  background-color: #10b582;
}

.main-navigation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.main-navigation__logo {
  margin-top: 151px;
  z-index: 1;
}


/* site-navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 645px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.site-navigation__link {
  font-size: 16px;
  line-height: 16px;
  color: #fdfdfd;
  text-decoration: none;
}

.site-navigation__link--active {
  padding-bottom: 5px;
  border-bottom: 1px dashed #fa9f42;
}

/* promo */

.promo {
  margin-top: -120px;
  padding-bottom: 119px;
  background-color: #10b582;
}

.promo__content {
  display: flex;
}

.promo__background {
  position: relative;
}

.promo__background::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 270px;
  height: 330px;
  background-image: url("img/promo-1.png");
  background-repeat: no-repeat;
}

.promo__background::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 0;
  width: 270px;
  height: 330px;
  background-image: url("img/promo-2.png");
  background-repeat: no-repeat;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 542px;
  color: #fdfdfd;
}

.offer--align-center {
  text-align: center;
  align-items: center;
}

.promo__offer {
  margin-top: 155px;
  margin-left: 292px;
  margin-bottom: 92px;
}

.offer__title {
  margin: 0;
  font-size: 58px;
  line-height: 70px;
  font-weight: 500;
}

.offer__description {
  width: 480px;
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.offer__description--margin-top {
  margin-top: 15px;
}

.offer__button {
  margin-top: 49px;
}

.offer--dark-font-color {
  color: #353a5a;
}

.social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__social {
  order: -1;
}

.social__link {
  display: flex;
  align-items: flex-start;
}

.button {
  box-sizing: border-box;
  width: 230px;
  display: inline-block;
  padding: 17px 20px 15px;
  color: #fdfdfd;
  border-radius: 0 20px;
  text-decoration: none;
  text-align: center;
  background-color: #10b582;
}

.button--accent {
  background-color: #fa9f42;
}

.promo__link-down {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-self: flex-end;
  margin-left: auto;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #fdfdfd;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.promo__arrow-icon {
  margin-bottom: 14px;
  transform: rotate(180deg);
}

/* statistics */

.statistics {
  padding: 120px 0;
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.statistics__indicator {
  margin-bottom: 15px;
  font-size: 58px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  line-height: 58px;
  font-weight: 500;
  color: #10b582;
}

.statistics__description {
  width: 225px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #353a5a;
}

/* teachers */

.teachers {
  display: flex;
  padding-bottom: 119px;
}

.teachers__description-column {
  margin-right: 100px;
}

.teachers__offer {
  margin-top: 60px;
}

.teachers__img-column {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-gap: 30px;
  width: 570px;
}

.teachers__card {
  width: 170px;
  margin: 0;
  text-align: center;
}

.teachers__caption {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
}

/* education format */

.education-format {
  padding: 120px 0;
  background-color: #10b582;
}

.education-format__content {
  background-image: url("img/format-1.png"),
                    url("img/format-2.png");
  background-repeat: no-repeat;
  background-position: top 30px left 15px, top left 45px
}

.education-format__offer {
  margin-left: auto;
  margin-right: 28px;
}

/* courses */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.courses__title {
  margin: 0;
  color: #353a5a;
  font-size: 58px;
  font-weight: 500;
  line-height: 58px;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  margin: 60px -30px 0 0;
  padding: 0;
  list-style: none;
}

.courses__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 0 rgba(101, 101, 101, 0.12);
}

.courses__img {
  margin-bottom: 15px;
}

.courses__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #353a5a;
  text-decoration: none;
}

.courses__button {
  margin-top: 60px;
}

.banner {
  height: 578px;
  background-image: url("img/bg-banner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.banner__content {
  padding: 120px 0;
}

.banner__offer {
  margin-left: auto;
  margin-right: 28px;
}


